<div class="site-nav">
  <div class="site-nav__icons">
    {%- if settings.search_enable -%}
      <a
        onclick="searchdivtoggle()"
        href="{{ routes.search_url }}"
        class="site-nav__link site-nav__link--icon js-search-header d-none d-md-block{% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %} medium-up--hide{% endif %}"
      >
        {% render 'thermos-icon-search' %}
        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {%- endif -%}

    {%- if shop.customer_accounts_enabled -%}
      <a
        class="site-nav__link site-nav__link--icon small--hide"
        href="{{ routes.account_url }}"
      >
        {% render 'thermos-icon-account' %}
        <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
            {{ 'layout.customer.log_in' | t }}
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}

    <div class="cart-icon-div">
      <a
        href="{{ routes.cart_url }}"
        class="site-nav__link site-nav__link--icon mob-cart-icon"
        aria-controls="CartDrawer"
        data-icon="{{ settings.cart_icon }}"
      >
        <span class="cart-link" id="CartBubble">
          {% render 'thermos-icon-cart' %}
          <span id="cart-bubble-price" class="d-none d-md-inline-block">
            {{ cart.total_price | money -}}
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
