{{ 'product-grid-item-3.css' | asset_url | stylesheet_tag }}

{%- liquid
  unless grid_item_width
    assign grid_item_width = 'medium-up--one-quarter small--one-half'
  endunless

  unless per_row
    assign per_row = '4'
  endunless

  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  assign product_tags = product.tags | join: ','
  assign has_custom_label = false
  if product_tags contains '_label_'
    for tag in product.tags
      if tag contains '_label_'
        assign tag_starts_with = tag | slice: 0
        if tag_starts_with == '_'
          assign has_custom_label = true
          assign custom_label = tag | replace: '_label_', ''
        endif
      endif
    endfor
  endif
-%}
<div class="back-to-school">
  <div
    id="product-grid-3"
    class="product-grid-3 map-background-data main-top-grid grid__item grid-product {% if settings.quick_shop_enable %} grid-product__has-quick-shop{% endif %}"
    data-aos="row-of-{{ per_row }}"
    data-product-handle="{{ product.handle }}"
    data-product-id="{{ product.id }}"
  >
    <div class="grid-product__content review-related-top  ml-auto mr-auto grid-product__content--{{ section.id }}">
      {%- if has_custom_label -%}
        <div class="grid-product__tag grid-product__tag--custom">
          {{ custom_label }}
        </div>
      {%- else -%}
        {%- unless product.available -%}
          <div class="grid-product__tag grid-product__tag--sold-out">
            {{ 'products.product.sold_out' | t }}
          </div>
        {%- endunless -%}
        {%- if on_sale and product.available -%}
          <div class="grid-product__tag grid-product__tag--sale">
            {{ 'products.general.sale' | t }}
          </div>
        {%- endif -%}
      {%- endif -%}

      {%- liquid
        assign fixed_aspect_ratio = false
        unless settings.product_grid_image_size == 'natural'
          assign fixed_aspect_ratio = true
        endunless

        assign preview_image = product.featured_media.preview_image
        assign img_url = preview_image | image_url
      -%}

      <a href="{{ product.url | within: collection }}" class="grid-product__link">
        <div class="grid-product__image-mask">
          {%- if settings.quick_shop_enable -%}
            <div class="quick-product__btn quick-product__btn--not-ready js-modal-open-quick-modal-{{ product.id }} small--hide">
              <span class="quick-product__label">{{ settings.quick_shop_text }}</span>
            </div>
          {%- endif -%}
          {%- if fixed_aspect_ratio -%}
            <div
              class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }}"
            >
              <img
                class="{% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %}"
                src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080]"
                data-aspectratio="{{ preview_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ preview_image.alt | escape }}"
                height="auto"
                width="auto"
              >
            </div>
          {%- else -%}
            {% if product.tags contains 'best-seller' %}
              {% assign image-grid-tag-class = 'best-seller-product' %}
            {% elsif product.tags contains 'new' %}
              {% assign image-grid-tag-class = 'new-product' %}
            {% else %}
              {% assign image-grid-tag-class = '' %}
            {% endif %}
            <div
              class="image-wrap image-wrap--{{ section.id }} {{ image-grid-tag-class }}"
              style="height: 0; padding-bottom: 79.73%;"
            >
              {% if on_sale %}
                <div class="new-badge">
                  <div class="offer-text">
                    {{
                      product.compare_at_price_max
                      | minus: product.price
                      | times: 100.0
                      | divided_by: product.compare_at_price_max
                      | money_without_currency
                      | times: 100
                      | remove: '.0'
                    -}}
                    %<br>
                    <span>off</span>
                  </div>
                </div>
              {% else %}
                {% if product.tags contains 'best-seller' %}
                  {% assign image-grid-tag-class = 'best-seller-product' %}
                  <div class="best-seller-badge">
                    <img
                      src="{{ 'bestseller.png' | asset_url }}"
                      height="auto"
                      width="auto"
                      alt="best-seller-badge"
                    >
                  </div>
                {% elsif product.tags contains 'new' %}
                  {% assign image-grid-tag-class = 'new-product' %}
                  <div class="new-badge">
                    <img
                      src="{{ 'new.png' | asset_url }}"
                      height="auto"
                      width="auto"
                      alt="new-badge"
                    >
                  </div>

                {% elsif product.tags contains 'new-color' %}
                  {% assign image-grid-tag-class = 'new-color' %}
                  <div class="new-badge">
                    <img
                      src="{{ 'newcolor.png' | asset_url }}"
                      height="auto"
                      width="auto"
                      alt="new-badge"
                    >
                  </div>

                {% else %}
                  {% assign image-grid-tag-class = '' %}
                {% endif %}
              {% endif %}

              <img
                class="grid-product__image grid-product__image--product-grid-item-3 hvr-grow bts"
                src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080]"
                data-aspectratio="{{ preview_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ preview_image.alt | escape }}"
                height="auto"
                width="auto"
              >
              <noscript>
                <img
                  class="grid-product__image lazyloaded"
                  src="{{ preview_image | img_url: '400x' }}"
                  alt="{{ preview_image.alt | escape }}"
                  height="auto"
                  width="auto"
                >
              </noscript>
            </div>
          {%- endif -%}

          {%- if settings.product_hover_image and product.media.size > 1 -%}
            {%- for media in product.media offset: 1 limit: 1 -%}
              {%- assign second_image = media.preview_image -%}
            {%- endfor -%}
            <div class="grid-product__secondary-image small--hide">
              {%- assign img_url = second_image | image_url -%}
              <img
                class="lazyload"
                src="{{ img_url }}"
                data-widths="[360, 540, 720, 1000]"
                data-aspectratio="{{ second_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ second_image.alt }}"
                height="auto"
                width="auto"
              >
            </div>
          {%- endif -%}

          {%- if settings.collection_color_swatches -%}
            {%- assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase -%}
            {%- for option in product.options_with_values -%}
              {%- liquid
                assign option_name = option.name | downcase
                assign is_color = false
                if option_name contains swatch_trigger
                  assign is_color = true
                elsif swatch_trigger == 'color' and option_name contains 'colour'
                  assign is_color = true
                endif
              -%}
              {%- if is_color -%}
                {%- assign option_index = forloop.index0 -%}
                {%- assign values = '' -%}
                {%- for variant in product.variants -%}
                  {%- assign value = variant.options[option_index] %}
                  {%- unless values contains value -%}
                    {%- liquid
                      assign values = values | join: ','
                      assign values = values | append: ',' | append: value
                      assign values = values | split: ','
                    -%}

                    {%- if variant.image -%}
                      <div
                        class="grid-product__color-image grid-product__color-image--product-grid-item-3 grid-product__color-image--{{ variant.id }} small--hide"
                      ></div>
                    {%- endif -%}
                  {%- endunless -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </a>
      <div class="grid-product__meta">
        <div class="container">
          <div class="wrapper">
            <div class="col-9 ">
              <div class="grid-product__title grid-product__title--{{ section.id }} grid-product__title--{{ settings.type_product_style }} text-left">
                {{ product.title }}
              </div>
              {%- if settings.collection_color_swatches -%}
                {%- liquid
                  assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                  assign swatch_file_extension = 'png'
                  assign color_count = 0
                -%}

                {%- for option in product.options_with_values -%}
                  {%- liquid
                    assign option_name = option.name | downcase
                    assign is_color = false
                    if option_name contains swatch_trigger
                      assign is_color = true
                    elsif swatch_trigger == 'color' and option_name contains 'colour'
                      assign is_color = true
                    endif
                  -%}
                  {%- if is_color -%}
                    {%- assign option_index = forloop.index0 -%}
                    {%- assign values = '' -%}
                    <div class="grid-product__colors grid-product__colors--{{ product.id }} grid-product__colors--{{ section.id }}">
                      {%- for variant in product.variants -%}
                        {%- assign value = variant.options[option_index] %}
                        {%- unless values contains value -%}
                          {%- liquid
                            assign values = values | join: ','
                            assign values = values | append: ',' | append: value
                            assign values = values | split: ','

                            assign color_image = value | handle | append: '.' | append: swatch_file_extension | asset_img_url: '50x' | prepend: 'https:' | split: '?' | first
                            assign color_swatch_fallback = value | split: ' ' | last | handle
                            assign color_count = color_count | plus: 1
                          -%}

                          <a
                            href="javascript:void(0);"
                            data-variant-url="{{variant.url}}"
                            class="color-swatch-change color-swatch color-swatch--small color-swatch--{{ value | handle }}{% if variant.image %} color-swatch--with-image{% endif %}"
                            {% if variant.image %}
                              data-product-id="{{ product.id }}"
                              data-variant-id="{{ variant.id }}"
                              data-variant-image="{{ variant.image | img_url: '400x' }}"
                            {% endif %}
                            style="background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};"
                          >
                            <span class="visually-hidden">{{ value }}</span>
                          </a>
                        {%- endunless -%}
                      {%- endfor -%}
                    </div>
                    {%- if color_count < 2 -%}
                      {%- style -%}
                        .grid-product__colors--{{ product.id }} {
                          display: none;
                        }
                      {%- endstyle -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            </div>
            <div class="col-3 p-0" style="padding-top: 0.4rem !important;">
              <div class="grid-product__price grid-product__price--{{ section.id }} text-center m-0">
                {% if on_sale %}
                  <span class="sale_price"
                    ><span class="sr-only">Current price: </span>{{ product.price | money }}
                  </span>
                  <span class="compare_price"
                    ><span class="sr-only">Original Price:</span>
                    {{- product.compare_at_price | money }}
                  </span>
                {% else %}
                  {{ product.price | money }}
                {% endif %}

                {%- assign product_variant = product.selected_or_first_available_variant -%}
                {%- if product_variant.unit_price_measurement -%}
                  <div class="product__unit-price">
                    {%- capture unit_price_base_unit -%}
                        {%- if product_variant.unit_price_measurement -%}
                          {%- if product_variant.unit_price_measurement.reference_value != 1 -%}
                            {{ product_variant.unit_price_measurement.reference_value }}
                          {%- endif -%}
                          {{ product_variant.unit_price_measurement.reference_unit }}
                        {%- endif -%}
                      {%- endcapture -%}

                    {{ product_variant.unit_price | money }}/{{ unit_price_base_unit }}
                  </div>
                {%- endif -%}
              </div>
            </div>

            <div class="grid-item-3-btn-wrapper" id="" style="">
              <div class="col-2 col-md-1 col-md-2">
                <form id="AddToCartForm-{{ product.id }}" method="post" action="/cart/add">
                  <input type="hidden" name="form_type" value="product">
                  <input
                    id="{{ product.id }}"
                    type="hidden"
                    name="id"
                    value="{{ product.variants.first.id }}"
                  >
                  <input min="1" type="hidden" id="quantity" name="quantity" value="1">
                  <button id="AddToCart-{{ product.id }}" type="submit" class="grid-cart-img">
                    {% render 'thermos-icon-cart-white' %}
                  </button>
                </form>
              </div>
              <div class="explore-button">
                <a href="{{ product.url }}" class="btn btn-primary w-100 explore-btn-link"
                  >Explore</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {%- if settings.enable_product_reviews -%}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {%- endif -%}
    </div>
  </div>
</div>

<script
  src="{{ 'product-grid-item-3.js' | asset_url }}"
  defer="defer"
></script>

{%- style -%}
  @media only screen and (min-width: 769px){
    .back-to-school .grid-product__colors--{{ section.id }} {
        line-height: var(--thermos-line-height-19);
        float: left;
        margin-top: 6%;
    }
  }
  .back-to-school .grid-product__content--{{ section.id }} {
    height: auto;
    width: 358px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    background: white;
  }

  .back-to-school .grid-product__title--{{ section.id }}{
    color: var(--thermos-onyx);
    font-family: var(--thermos-dinot-cond-bold);;
    font-size: var(--thermos-font-size-20) !important;
    font-weight: var(--thermos-font-Weight-700);
    font-style: normal;
    letter-spacing: normal !important;
    line-height: normal !important;
    text-align: left !important;
    text-transform: uppercase !important;
  }
  .back-to-school .grid-product__price--{{ section.id }} {
    color: var(--thermos-red);
    font-family: var(--thermos-dinot-cond-bold);;
    font-size: var(--thermos-font-size-19);
    font-weight: var(--thermos-font-Weight-700);
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
  }
  .back-to-school .image-wrap--{{ section.id }} > img  {
    width: 233px !important;
    height: 233px !important;
  }
  .back-to-school .image-wrap--{{ section.id }} {
    background: white !important;
  }
{%- endstyle -%}

<script>
  $(document).ready(function () {
    $('.grid-product__content--{{ section.id }}').hover(
      function () {
        $(this).addClass('active');
        $('.grid-product__color-image--product-grid-item-3').css('zoom', '1.2');
        console.log('Class Active was added');
      },
      function () {
        $(this).removeClass('active');
        $('.grid-product__color-image--product-grid-item-3').css('zoom', '1');
      }
    );
  });
</script>
