{{ 'history-custom.css' | asset_url | stylesheet_tag }}

<div class="main-histor-page sofi-history main-section-history">
  <section class="history-topimg">
    <img
      width="auto"
      height="auto"
      class="the-top-img"
      src="{{ 'ThermosHistory_1440x600.jpeg' | asset_url }}"
      alt="thermos history page image"
    >
    <img
      width="auto"
      height="auto"
      class="the-top-img-mobile"
      src="{{ 'history_banner_image_mobile.jpeg' | asset_url }}"
      alt="thermos history page image"
    >
  </section>

  <ul class="breadcrumbs">
    <li class="home"><a href="/" title="Go to Home Page">Home</a></li>
    <li>></li>
    <li class="cms_page">History of thermos</li>
  </ul>

  <section class="history-description">
    <div class="history-title"><h2>History of thermos</h2></div>
    <div class="history-text">
      At the start of it all in 1904, the founders domesticated the vacuum insulation technology,
      creating the first Thermos® product. A product that would quickly become a staple in the lives
      of adventurers, explorers, and everyday folks like us. With over 100 years dedicated to
      providing reliable products, Genuine Thermos® Brand remains just as committed today to helping
      you to Protect What You Love™.
    </div>
  </section>

  <section class="history-time-line">
    <div class="history-container">
      <div class="the-inner-container">
        <div class="center-line"></div>
        <!-- 1892 -->
        <div class="history-block f-left-block-d the-h-1882-l">
          <div class="block-with-line">
            <div class="the-date">1892</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <h5 class="h5-din-bold-up">Creation of the Vacuum Flask</h5>
                <p class="the-text-bold-it">The Vacuum Flask Origin Story</p>
                <p class="the-text-regular">
                  In 1892, Scottish scientist Sir James Dewar invented the vacuum flask. Through his
                  work in cryogenics, he identified a need to keep a chemical placed in a flask at a
                  stable temperature. To do this, Dewar placed a glass bottle in another larger
                  glass bottle, and evacuated the air between the two bottle walls. In doing so,
                  Dewar created a partial vacuum to keep the temperature of the contents stable.
                  Hiring a professional glass blower to make a sturdier flask led to the commercial
                  manufacture of the “Dewar Flask” in 1898.
                </p>
                <p class="the-text-din-bold-up">
                  Thanks to Sir James, the vacuum flask became a significant tool for chemical
                  experiments, and, later with improvements from others, a popular household item.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="history-block f-right-block-d the-h-1882">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1882-big-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <img
                width="auto"
                height="auto"
                class="the-mini-photo"
                src="{{ 'time-line-1882-small-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <p class="the-text-bold-it the-text-on-photo">
                Sir James Dewar circa 1910 (above) and 1920 (left)
              </p>
            </div>
          </div>
        </div>
        <!-- 1903 -->
        <div class="history-block f-right-block-d the-h-1903">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <h4 class="h4-din-bold-up">The History of</h4>
              <h3 class="h3-din-bold-up-red">the Thermos Brand</h3>
            </div>
          </div>
          <div class="block-with-line">
            <div class="the-date">1903</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Reinhold Burger (Dewar’s glass blower) and his business partner Albert
                  Aschenbrenner were manufacturers of scientific glass devices. While producing
                  flasks for Dewar, they crafted a domestic vacuum flask with a protective metal
                  casing and secured a patent for it.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="history-block f-left-block-d the-h-1903-r">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1903-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <p class="the-text-bold-it the-text-on-photo">Reinhold Burger circa 1900</p>
            </div>
          </div>
        </div>
        <!-- 1904 -->
        <div class="history-block f-right-block-d the-h-1904">
          <div class="block-with-line">
            <div class="the-date the-date-big">1904</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-din-bold-up">
                  Burger and Aschenbrenner hosted a competition to name the vacuum bottle. A local
                  resident submitted the word <span class="the-text-red">“Thermos”</span> derived
                  from the greek word thérmē <span class="the-text-red">meaning heat</span>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1906 -->
        <div class="history-block f-left-block-d the-h-1906">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1906-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <div class="text-abs-block">
                <p class="the-text-bold-it">
                  William B<br>
                  Walker
                </p>
              </div>
            </div>
          </div>
          <div class="block-with-line">
            <div class="the-date">1906</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  An American businessman, William B Walker, met Burger on his travels to Berlin. In
                  learning of the “Thermos” brand bottle and realizing the potential market in the
                  United States, he strategically made plans to import, obtained the necessary
                  patent rights, and began raising capital to manufacture in his country.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1907 -->
        <div class="history-block f-right-block-d the-h-1907">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1907-img.png' | asset_url }}"
                alt="thermos history page image"
              >
            </div>
          </div>
          <div class="block-with-line">
            <div class="the-date">1907</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-bold-it">First Thermos plant, Brooklyn, NY</p>
                <p class="the-text-regular">
                  On January 31, 1907 Walker founded The American Thermos Bottle Company
                  incorporated in Portland, Maine. A factory was leased in Brooklyn, NY, and under
                  the supervision of Burger, imported machinery and German glass blowers to train
                  workers on the proper manufacturing techniques.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1909 -->
        <div class="history-block f-left-block-d the-h-1909">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1909-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <div class="text-abs-block">
                <p class="the-text-reg-it the-text-on-photo">
                  The Alaska-Yukon-Pacific Exposition with a view of Mount Rainier
                </p>
              </div>
            </div>
          </div>
          <div class="block-with-line">
            <div class="the-date the-date-big">1909</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <h5 class="h5-din-bold-up">Grand prize award</h5>
                <p class="the-text-din-bold-up">
                  Being praised around the world for its design, Thermos won the “Grand Prize Award”
                  at the Alaska-Yukon-Pacific Exposition (World’s Fair) and continued to be honored
                  at seven more world expositions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="history-block f-right-block-d the-h-1909-r">
          <img
            width="auto"
            height="auto"
            class="the-norm-photo"
            src="{{ 'Thermos-Antique-Car_History_Revised.png' | asset_url }}"
            alt="thermos history page image"
          >
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <p class="the-text-bold-it">
                Long before public relations became big business, Thermos kept its product in the
                nation’s headlines.
              </p>
            </div>
          </div>
        </div>
        <!-- 1911 -->
        <div class="history-block f-left-block-d the-h-1911">
          <div class="block-with-line">
            <div class="the-date">1911</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Thermos Limited, located in England produced the first machine-made glass filler,
                  a critical industrial breakthrough for speeding up production. In automating this
                  glass blowing process, Thermos became a world leader in glass vacuum technology
                  and manufacturing.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1912 -->
        <div class="history-block f-right-block-d the-h-1912-r">
          <div class="block-with-line">
            <div class="the-date">1912</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo"
                  src="{{ 'time-line-1912r-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
                <p class="the-text-bold-it the-text-on-photo">
                  American Thermos Bottle Company, Norwich, CT
                </p>
                <p class="the-text-regular">
                  The Thermos bottle craze surpassed Walkers anticipations—demand was exceeding
                  production. Plans for a new site began and citizens of Norwich, CT, eager to bring
                  purpose to their city, raised enough funds to buy land and build a factory.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="history-block f-left-block-d the-h-1912-l">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1912-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <p class="the-text-bold-it the-text-on-photo">WW1 Victory Parade</p>
            </div>
          </div>
        </div>
        <!-- 1923 -->
        <div class="history-block f-right-block-d the-h-1923-r-m">
          <div class="block-with-line">
            <div class="the-date">1923</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  The No. 24 pint-size “Blue Bottle” was introduced for a mere 98 cents, as well as
                  a new gallon-sized insulated food jar known as the Thermos Jumbo Jug.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="history-block f-left-block-d the-h-1923">
          <img
            width="auto"
            height="auto"
            class="the-norm-photo-m"
            src="{{ 'time-line-1923m-img.png' | asset_url }}"
            alt="thermos history page image"
          >
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1923-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <p class="the-text-bold-it">
                Circa 1920, Icy Hot Bottle and circa 1924 Thermos Jumbo Jug, a gallon-sized cork
                insulated container
              </p>
            </div>
          </div>
        </div>
        <div class="history-block f-right-block-d the-h-1923-r">
          <div class="block-with-line">
            <div class="the-date">1923</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  The No. 24 pint-size “Blue Bottle” was introduced for a mere 98 cents, as well as
                  a new gallon-sized insulated food jar known as the Thermos Jumbo Jug.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1925 -->
        <div class="history-block f-right-block-d the-h-1925">
          <div class="block-with-line">
            <div class="the-date">1925</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Thermos Bottle Co. merged with the Icy-Hot Bottle Co. of Cincinnati Ohio, also a
                  vacuum bottle company established in the early 1900s. The combined company became
                  known as The American Thermos Bottle Company.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1928 -->
        <div class="history-block f-right-block-d the-h-1928-r">
          <div class="block-with-line">
            <div class="the-date the-date-big">1928</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-din-bold-up">
                  <span class="the-text-red"
                    >Advancements led to new uses for vacuum-insulated technology.</span
                  >
                  Notable products were the insulated cabinets for ice cream and frozen fish, in
                  demand until mechanical refrigeration became available in the 1930s.
                </p>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="history-block f-left-block-d the-h-1928-l">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <img
                width="auto"
                height="auto"
                class="the-norm-photo"
                src="{{ 'time-line-1928-img.png' | asset_url }}"
                alt="thermos history page image"
              >
              <p class="the-text-bold-it">
                In 1929, Thermos was manufacturing vacuum containers for the storage of frozen fish.
              </p>
            </div>
          </div>
        </div>
        <!-- 1939-1945 -->
        <div class="history-block f-right-block-d the-h-1945">
          <div class="block-with-line">
            <div class="the-date">
              1939 <span class="s1945d">-</span> <span class="s1945m">to</span> 1945
            </div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-din-bold-up">
                  During World War II, the Thermos pint bottle and the workmen’s lunch kit were
                  granted the highest civilian priority ratings, requiring facilities to keep up
                  with the demand.
                  <span class="the-text-red"
                    >OVER 98% OF THERMOS FACTORIES EITHER PRODUCED PINT BOTTLES OR SPECIAL BOTTLES
                    DESIGNED FOR MILITARY USE OR USE IN ATOMIC ENERGY LABORATORIES.</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1952 -->
        <div class="history-block f-left-block-d the-h-1952" style="clear:left;">
          <div class="block-with-line">
            <div class="the-date">1952</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo"
                  src="{{ 'time-line-1952-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
                <p class="the-text-regular">
                  Thermos acquired the Plastene Corporation of Indiana, manufacturers of plastic
                  wall tiles and bathroom fixtures.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1953 -->
        <div class="history-block f-right-block-d the-h-1953">
          <div class="the-content-f">
            <div class="the-content-f-inner">
              <h4 class="h4-din-bold-up">2,000,000</h4>
            </div>
          </div>
          <div class="block-with-line">
            <div class="the-date">1953</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Improving on their lunch kits, Thermos released the first fully lithographed steel
                  lunch box with the image of Roy Rogers, which sold over 2,000,000 units in the
                  first year.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1955 -->
        <div class="history-block f-right-block-d the-h-1955">
          <div class="block-with-line">
            <div class="the-date">1955</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Expanding even further, Thermos gained control of Hemp and Company, Inc. of
                  Illinois, producers of the “Little Brown” insulated picnic jugs and chests, and
                  outdoor grills.
                </p>
                <div class="the-photo-row">
                  <img
                    width="auto"
                    height="auto"
                    class="the-norm-photo"
                    src="{{ 'time-line-1955-img.png' | asset_url }}"
                    alt="thermos history page image"
                  >
                  <div class="text-abs-block">
                    <p class="the-text-reg-it the-text-on-photo">
                      Hemp and Company<br>
                      “Little Brown Jug”
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 1957 -->
        <div class="history-block f-left-block-d the-h-1957">
          <div class="block-with-line">
            <div class="the-date the-date-big">1957</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-din-bold-up">
                  Thermos brand products, known almost universally now, had been used for plasma and
                  insulin transit, as well as being utilized in various instruments measuring
                  electric power, rate of climb in airplanes, detection of oil deposits, and weather
                  reporting.
                </p>
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo the-desktop-only"
                  src="{{ 'time-line-1957-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 1960 -->
        <div class="history-block f-right-block-d the-h-1960">
          <div class="the-content-f">
            <img
              width="auto"
              height="auto"
              class="the-norm-photo"
              src="{{ 'time-line-1955-small-img.png' | asset_url }}"
              alt="thermos history page image"
            >
          </div>
          <div class="block-with-line">
            <div class="the-date">1960</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Thermos merged with the King-Seeley Corporation, thus entering the tent, camp
                  stove, and lantern field.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 1962 -->
        <div class="history-block f-right-block-d the-h-1962">
          <div class="the-content-f">
            <img
              width="auto"
              height="auto"
              class="the-norm-photo"
              src="{{ 'time-line-1960-img.png' | asset_url }}"
              alt="thermos history page image"
            >
          </div>
          <div class="block-with-line">
            <div class="the-date">1962</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Thermos began long-standing partnership with Mattel™ with the introduction of the
                  Barbie™ metal lunch box and bottle.
                </p>
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo the-mobile-only"
                  src="{{ 'time-line-1957-mobile-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 1966 -->
        <div class="history-block f-left-block-d the-h-1966">
          <div class="block-with-line">
            <div class="the-date">1966</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Thermos introduced the world to their first stainless steel vacuum bottle.
                </p>
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo the-desktop-only"
                  src="{{ 'time-line-1966-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 1971 -->
        <!-- 1985 -->
        <div class="history-block f-left-block-d the-h-1985">
          <div class="block-with-line">
            <div class="the-date">1985</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Successfully introduced onto the market was the Thermos Coffee Butler, a
                  vacuum-insulated glass carafe, becoming one of the top household products in North
                  America that year.
                </p>
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo the-mobile-only"
                  src="{{ 'time-line-1971-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 2000 -->
        <div class="history-block f-right-block-d the-h-2000">
          <div class="block-with-line">
            <div class="the-date the-date-big">2000</div>
          </div>
        </div>
        <!-- 2002 -->
        <div class="history-block f-right-block-d the-h-2002">
          <div class="block-with-line">
            <div class="the-date">2002</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  The high-performance IceBound line of soft coolers is introduced. Made with
                  exclusive IsoTec™ multi-layered insulation and a leak-proof interior lining.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2004 -->
        <div class="history-block f-full-block-d the-h-2004 the-desktop-only">
          <div class="the-content-img-f">
            <div class="the the-image-wrap">
              <div class="the-left-image-wrap">
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo"
                  src="{{ 'time-line-1985-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
              </div>
            </div>
            <div class="the the-image-wrap">
              <div class="the-right-image-wrap ">
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo"
                  src="{{ 'time-line-2002-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
              </div>
            </div>
          </div>
          <div class="block-with-line">
            <div class="the-date-center">
              <div class="the-circle"></div>
              <div class="the-circle-area"></div>
              <div class="the-circle-wings"></div>
              2004
            </div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <div class="the-left-content-f-inner">
                  <p class="the-text-regular">
                    In celebration of their 100th anniversary, Thermos hosted a gala at the
                    Smithsonian Museum of American History with a featured retrospective display,
                    “Taking America to Lunch,” a historical look at vacuum bottles and lunch kits
                    from the 1880s–1980s.
                  </p>
                </div>
              </div>
              <div class="the-content-f-inner">
                <div class="the-right-content-f-inner">
                  <p class="the-text-regular">
                    Introduced FUNtainer® line of kids insulated products
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="history-block f-left-block-d the-h-2004 the-mobile-only">
          <div class="the-content-f">
            <img
              width="auto"
              height="auto"
              class="the-norm-photo"
              src="{{ 'time-line-1985-img.png' | asset_url }}"
              alt="thermos history page image"
            >
          </div>
          <div class="block-with-line">
            <div class="the-date">2004</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  In celebration of their 100th anniversary, Thermos hosted a gala at the
                  Smithsonian Museum of American History with a featured retrospective display,
                  “Taking America to Lunch,” a historical look at vacuum bottles and lunch kits from
                  the 1880s–1980s.
                </p>
                <img
                  width="auto"
                  height="auto"
                  class="the-norm-photo"
                  src="{{ 'time-line-2002-img.png' | asset_url }}"
                  alt="thermos history page image"
                >
                <p class="the-text-regular">
                  Introduced FUNtainer® line of kids insulated products
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2014 -->
        <div class="history-block f-right-block-d the-h-2014">
          <div class="the-content-f">
            <img
              width="auto"
              height="auto"
              class="the-norm-photo"
              src="{{ 'time-line-2004-img.png' | asset_url }}"
              alt="thermos history page image"
            >
          </div>
          <div class="block-with-line">
            <div class="the-date">2014</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Parent companies acquired alfi GmbH, 100-year old German company specializing in
                  premium carafes
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2017 -->
        <div class="history-block f-left-block-d the-h-2017">
          <div class="the-content-f">
            <img
              width="auto"
              height="auto"
              class="the-norm-photo"
              src="{{ 'time-line-2014-img.png' | asset_url }}"
              alt="thermos history page image"
            >
          </div>
          <div class="block-with-line">
            <div class="the-date">2017</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Thermos L.L.C. acquired Lifefactory, Inc., leader in glass hydration and baby
                  products featuring silicone sleeves
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2023 -->
        <div class="history-block f-right-block-d the-h-2023">
          <div class="the-content-f">
            <img
              width="auto"
              height="auto"
              class="the-norm-photo"
              src="{{ 'thermos_2023_thumbnail.png' | asset_url }}"
              alt="2023 Image to Load"
            >
          </div>
          <div class="block-with-line">
            <div class="the-date">2023</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <p class="the-text-regular">
                  Thermos L.L.C introduced the new Icon Series product line. With a focus on hot
                  food and beverage containers along with hydration and coolers, this is by far the
                  most versatile product launch in our history.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2024 -->
        <div class="history-block f-left-block-d the-h-2024">
          <div class="the-content-f">
            <img
              width="auto"
              height="auto"
              class="the-norm-photo"
              src="{{ 'thermos_2024_thumbnail.png' | asset_url }}"
              alt="2024 Image to Load"
            >
          </div>
          <div class="block-with-line">
            <div class="the-date">2024</div>
            <div class="the-content-f">
              <div class="the-content-f-inner">
                <br>
                <p class="the-text-regular">Thermos Brand Celebrates 120-year anniversary.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
</div>
